<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generic Fitness App</title>
         <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="" href="/static/style.css">

    <body class="background">
        <div class="header" style="height: 120px;">
            <a class="welcome">Welcome {{USER}}</a>
            <span class="nav-button" onclick="openNav()">&#9783;</span>
        </div>

        <div id="navbar" class="navbar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/templates/register.html">Account</a>
            <a href="#">Weekly<br>Calender</a>
            <a href="#">Calories</a>
            <a href="#">Pictures</a>
        </div>

        <div style="text-align: center; font-size: 100px;">
            <p>DAILY QUOTE</p>
        </div>

        <div class="row">
            <div class="column">
                <div class="circle"></div>
            </div>
            <div class="column">
                <div class="square">
                    <h1>Daily Log</h1>
                    <form action="/log_lunch" method="post" encode="application/form-data" id="form">
                        <label for="lunch">Lunch:</label><br>
                        <input type="text" id="lunch" name="lunch"><br>
                        <label for="calories">Calories:</label><br>
                        <input type="number" id="calories" name="calories"><br>
                        <input type="submit" value="Submit">
                    </form> 
                </div>                
            </div>
        </div>

        <img src="/static/muscle.jpeg">

        <script src="/static/functions.js"></script>
    </body>
</html>