<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generic Fitness App</title>
        <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>

    <body class="background"> 
        <div class="header" style="height: 120px;">
            <a class="welcome">Meditate</a>
            <span class="nav-button" onclick="openNav()">&#9783;</span> 
        </div>
        <div id="navbar" class="navbar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/templates/register.html">Account</a>
            <a href="/templates/meditation.html">Meditation</a>
            <a href="/templates/share.html">Share</a>
            <a href="/templates/schedule_post.html">Schedule Post</a>
        </div>  
        <div class = "med_setup" id = "switch" style = "display: block;">  
            <button onclick="hidden4()" id = "hidden3" style="background-color: black; color: white; width: 50px; height: 20px; display: none;">No</button>
            <div style = "padding-left: 700px;">
                <button onclick="alert('Feeling agitated, maybe you shoudld MEDITATE ~.~'); hidden6()" id = "hidden5" style="background-color: black; color: white; width: 30px; height: 20px; display: none;">No</button>
            </div>
            <button onclick="alert('If you find the next one I will let you go'); hidden7()" id = "hidden6" style="background-color: black; color: white; width: 50px; height: 20px; display: none;">No</button>
            <p style = "text-align: center; font-size: 60px; color: black; align-items: center;">Wazuuuppppp!!!<br> Would You Like To Meditate?</p>
            <div class="row" style="padding-left: 500px;">
                <div class="med_column">
                    <button onclick="mask()" style="background-color: black; color: white; width: 200px; height: 80px;">Yes</button>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="med_column" style = "padding-left: 200px;">
                    <button onclick="hidden1()" id = "hidden" style="background-color: black; color: white; width: 200px; height: 80px;">No</button>
                </div>
            </div>  
            <div class="row">
                <div class="med_column">
                    <button onclick="hidden3()" id = "hidden2" style="background-color: black; color: white; width: 200px; height: 80px; display: none;">No</button>
                </div>
                <div class="med_column" style = "padding-left: 600px;">
                    <button onclick="hidden2()" id = "hidden1" style="background-color: black; color: white; width: 200px; height: 80px; display: none;">No</button>
                </div>
            </div> 
            <div style = "padding-left: 700px;">
                <button onclick="alert('Have You Had Enough Yet -_-'); hidden5()" id = "hidden4" style="background-color: black; color: white; width: 300px; height: 15px; display: none;">No</button>
            </div>
            <div style="padding-left: 900px;">
                <button onclick="alert('Congrats, you wasted your time clicking buttons instead of meditating!!!'); location.href = '/'" id = "hidden7" style="background-color: black; color: white; width: 1px; height: 1px; display: none;">No</button>
            </div>
        </div>
        <div id = "switch1" style = "display: none;">
            <div style = "padding-left: 1390px;">
                <button onclick = "forwardButton()" id ="forward" style= "opacity: 0; width: 50px; height: 15px;">&rarr;</button>
            </div>
            <p id = "animatedText" style = "text-align: center; font-size: 20px; color: black; align-items: center; font-family: fantasy ;">
                
                1. Take a seat<br>
                Find place to sit that feels calm and quiet to you.<br><br>
                              
                2. Notice your body<br>
                You can sit in a chair with your feet on the floor, you can sit loosely cross-legged, you can kneel—all are fine. Just make sure you are stable and in a position you can stay in for a while.<br><br>
                
                3. Feel your breath<br>
                Follow the sensation of your breath as it goes in and as it goes out.<br><br>
                
                4. Notice when your mind has wandered<br>
                Inevitably, your attention will leave the breath and wander to other places. When you get around to noticing that your mind has wandered—in a few seconds, a minute, three minutes—simply return your attention to the breath.<br><br>
                
                5. Be kind to your wandering mind<br>
                Don't judge yourself or obsess over the content of the thoughts you find yourself lost in. Just come back.<br><br>
                
                6. Close with kindness<br>
                When you're ready, gently lift your gaze (if your eyes are closed, open them). Take a moment and notice any sounds in the environment. Notice how your body feels right now. Notice your thoughts and emotions.<br><br>
            </p>
            <button onclick = "backButton()" id ="back" style= "opacity: 0; width: 50px; height: 15px;">&larr;</button>
            <p id = "start" style = "opacity: 0; text-align: center; font-size: 30px; color: black;"> Ready To Begin?</p> 
            <p id = "start5" style = "opacity: 0; text-align: center; font-size: 20px; color: black;"> Choose Your Time</p> 
            <div style = "padding-left: 650px">
                <button  id = "start2" style = "width: 200px; height: 50px; opacity: 0;" onclick="startTimer()">3:00</button><br>
                <button id = "start3" style = "width: 200px; height: 50px; opacity: 0;" onclick="startTimer1()">5:00</button><br>
                <button id = "start4" style = "width: 200px; height: 50px; opacity: 0;" onclick="startTimer2()">8:00</button>
            </div>
            <p id="timer" style = "text-align: center; font-size: 100px; opacity: 0;">3:00</p>
            <p id="timer1" style = "text-align: center; font-size: 100px; opacity: 0;">5:00</p>
            <p id="timer2" style = "text-align: center; font-size: 100px; opacity: 0;">8:00</p>
        </div>





     <script src="/public/functions.js"></script>
     <script src="/public/Meditate.js"></script>
    </body>
</html>