<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generic Fitness App</title>
        <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    </head>

    <link rel="stylesheet" href="/public/style.css">
    <link rel="" href="/public/style.css">

    <body class="background" onload="refresh()"> 
        <div class="header" style="height: 120px;">
            <a class="welcome">Share</a>
            <span class="nav-button" onclick="openNav()">&#9783;</span>
        </div>

        <div id="navbar" class="navbar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/templates/register.html">Account</a>
            <a href="#">Weekly<br>Calender</a>
            <a href="/templates/calories.html">Calories</a> 
            <a href="#">Pictures</a>
            <a href="/templates/share.html">Share</a>
        </div>

        <div id="forum" style="margin: 20px"></div><br>
        <label style="margin-left: 20px; font-size: 20px; color: black;">Share:<br>
            <textarea id="forum-input" name="forum-input" rows="4" cols="50" maxlength="200" style="resize: none; margin-left: 20px"></textarea><br>
            <button style="margin-left: 20px; background-color: black; color: white; width: 50px; height: 30px;" id="forum-button" onclick="sendPost()">Post</button>
        </label>

        <script src="/public/functions.js"></script>
    </body>
</html>